     <div class="card col-6 col-md-4 m-2">
         <a href="/users/{{id}}">
        <h2 class="bg-secondary text-white">{{usersRecipes.[0].username}}</h2></a>
        <section class="cardBody">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">Description: <br/>{{description}}</p>
            <p class="card-text">Ingredients: <br/>{{ingredients}}</p>
            <a href="/recipe/{{id}}"><button class="buttonHome" id="viewRecipe" type="submit">View Recipe</button></a>
        </section>
     </div>
    <script>src = "/js/home.js"</script>

